/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;
//
// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
//
// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: $base__space-unit;
// 			left: -999rem;
// 			z-index: 99999;
//
// 			ul {
// 				left: -999rem;
// 				top: 0;
// 			}
//
// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}
//
// 			a {
// 				width: 200px;
// 			}
//
// 			:hover > a,
// 			.focus > a {
// 			}
//
// 			a:hover,
// 			a.focus {
// 			}
// 		}
//
// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}
// 	li {
// 		float: left;
// 		position: relative;
//
// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}
// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}
//
// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a {
// 	}
// }
//
// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
//
// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }
//
// .comment-navigation,
// .posts-navigation,
// .post-navigation {
//
// 	.site-main & {
// 		margin: 0 0 $base__space-unit;
// 		overflow: hidden;
// 	}
//
// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}
//
// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }
@media screen and (max-width: 600px) {
	.menu-primary-menu-container{
		display: none;
	}
	.menu-secondary-menu-container {
		display: none;
	}
	.search-icon {
		display: none;
	}
	.navbar {
		img {
			position: absolute;
			left: 50px;
		}
		.hamburger-menu {
			position: absolute;
		}
	}

}
.site-header {
	background-color: #fff;
	position:fixed;
	top:0;
	width:100%;
	color: #8A959E;
	z-index: 1;
	border-bottom: 1.4px solid #D4D4D4;
	box-shadow:0px 1px 1px #D4D4D4;
}

.site-header.reverse-header  {
	background: transparent;
	border:none;
	box-shadow: none;
}

.navbar {
	position: relative;
	display: inline-flex;
	height: 80px;
	width:100%;
	padding-top: 80px;
	padding-bottom: 60px;
}

.menu-primary-menu-container {
	flex:1;
}

#primary-menu {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
}

#primary-menu a {
	padding-right: 80px;
	font-family: 'Lato', sans-serif;
  font-size: 20px;
	&:visited {
	color:#8F9AA2;
	}
}

.reverse-header #primary-menu a {
	color: #ffffff;
	text-shadow: 2px 2px #38312C;
}

#secondary-menu {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

#secondary-menu a {
	font-family: 'Lato', sans-serif;
  font-size: 20px;
	padding-right: 80px;
	&:visited {
	color:#8F9AA2;
	}
}

.reverse-header #secondary-menu a {
	color: #ffffff;
	text-shadow: 2px 2px #38312C;
}

#menu-item-40 a:visited {
	color: #FF527E;
}

#inputHead {
	height: 30px;
}

.reverse-header #menu-item-40 a {
	color: #FF527E;
	text-shadow: 2px 2px #38312C;
	&:visited {
	color:#FF527E;
	}
}

.reverse-header #menu-item-120 a {
	color: #FF527E;
	text-shadow: 2px 2px #38312C;
	&:visited {
	color:#FF527E;
	}
}

ul.sub-menu {
	position: relative;
	list-style: none;
	border-left: none;
	right: 25px;
	padding-left: 0;
}
#menu-item-122 {
	
	a {
		max-width: 100%;
	}
}