/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */




/* faq */

.faq-content-area {
  .questionCategories {
    background-color: rgb(252,252,252);
  }

  // li:empty {
  //   display: none;
  // }
  
  ul {
    margin: 0;
  }

  button.btn.btn-link {
  background-color: rgb(255,255,255);
  width: 100%;
  border: .5px solid rgb(231,231,231);
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
  }
  .nav.tab {
    border: 0px;
    li {
      border: none;
      a {
        border: none;
      }
    }
  }
  .tab-container {
    background-color: rgb(255,255,255);
    border: 0px;
  }

  .tab-content {
    p {
      padding: 10px;
      text-align: center;
    }
  }
  
  li.active {
    border:  rgb(255,255,255);
  }

  .card-header {
    padding: 0px;
    margin: 0px;
  }
}  

@media only screen and (min-width: 600px) {
.faq-content-area {

  h1, h2 {
     text-align: center;
  }
  button {
      width: 100%;
  }

   .card-header {
     display: flex;
     justify-content: center;
     h5 {
         width: 75%;
         background-color: rgb(255,255,255);
         border-radius: 2px;
     }
  }

   .tab-container {
     display: grid;
     grid-template-columns: 50% 50%;
   }

   .tab-container {
     ul.nav.nav-tabs {
     display: flex;
     flex-direction: column;
     }
   }
}
}
