/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

// footer
  .site-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .mobileFooterMenu {
        display: flex;
        justify-content: space-evenly;
      }
      .social-media img {
        display: none;
      }
      p {
        display: flex;
        justify-content: center;
      }
  }
  .desktopFooterMenu {
    display: none;
  }

  @media only screen and (min-width: 600px) {
    
    .desktopFooterMenu {
      display: flex;
      justify-content: space-evenly;
    }
    .site-footer {
      display: flex;
    
      .social-media {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .social-media img {
        display: flex;
        width: 50px;
    }
    }
    .site-info{
      display: grid;
      grid-template-columns: 75% 25%;
    .mobileFooterMenu{
        display: none;
      }
    }
  }


/* faq */

.faq-content-area {
  .contactUsSocial {
    display: flex;
    flex-direction: column;
  }
  h4 {
    text-align: center;
  }
  

  .questionCategories {
    background-color: rgb(252,252,252);
  }

  // li:empty {
  //   display: none;
  // }
  
  ul {
    margin: 0;
  }

  button.btn.btn-link {
  background-color: rgb(255,255,255);
  width: 100%;
  border: .5px solid rgb(231,231,231);
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
  }
  .nav.tab {
    border: 0px;
    li {
      border: none;
      a {
        border: none;
      }
    }
  }
  .tab-container {
    background-color: rgb(255,255,255);
    border: 0px;
  }

  .tab-content {
    p {
      padding: 10px;
      text-align: center;
    }
  }
  
  li.active {
    border:  rgb(255,255,255);
  }

  .card-header {
    padding: 0px;
    margin: 0px;
  }
}  

@media only screen and (min-width: 600px) {
.faq-content-area {

  h1, h2 {
     text-align: center;
  }
  button {
      width: 100%;
  }

   .card-header {
     display: flex;
     justify-content: center;
     h5 {
         width: 75%;
         background-color: rgb(255,255,255);
         border-radius: 2px;
     }
  }

   .tab-container {
     display: grid;
     grid-template-columns: 50% 50%;
   }

   .tab-container {
     ul.nav.nav-tabs {
     display: flex;
     flex-direction: column;
     }
   }
}
.social-media{
  width: 50%;
  img {
    width: 50px;
    height: 50px;
  }
  display: flex;
  justify-self: center;
  justify-content: space-around;
}

.contactUs {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  img {
    max-height: 60px;
    max-width: 50px;
  }
  input {
    width: 90%;
  }
  textarea {
    width: 90%;
  }
  .wpcf7-submit {
    width: 50%;
  }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
}

// sign-up
.signUp {
  display: flex;
  justify-content: center;
  form {
    width: 75vw;
  }
  label {
    width: 100%;
    input {
      width: 100%;
      border: none;
      background-color: rgb(233,235,236);
      color: rgb(160,169,177);
    }
  }
  .wpcf7-list-item-label {
    font-size: 10px;
  }
  .wpcf7-list-item {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 0;
    margin-bottom: 1em;
    input {
      display: flex;
      justify-self: center;
    }
}
  
}



  @media only screen and (min-width: 600px) {
    .signUp {
      form {
        width: 80vw;
        padding: 15px;
        input {
          padding-left: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .doubleLine {
        display: flex;
        flex-direction: row;
        p {
          width: 45%;
        }
      }
  }
  }