
/* faq */

.faq-content-area {

    h1, h2 {
       text-align: center;
    }
    button {
        width: 100%;
    }
   .questionCategories {
           background-color: rgb(252,252,252);
       }

     .card-header {
       display: flex;
       justify-content: center;
       h5 {
           width: 75%;
           background-color: rgb(255,255,255);
           border-radius: 2px;
       }
    }

     .tab-container {
       display: grid;
       grid-template-columns: 50% 50%;
     }

     .tab-container {
       ul.nav.nav-tabs {
       display: flex;
       flex-direction: column;
       }
     }
}
