.our-impact {
    height:135vh;
    width:100vw;
}

.seventh-section {
  background-color: #1ED8B3
}

.local-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 125px;
  padding-top: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
}

// ---------------------

.wrapping-elements{
display: flex;
flex-wrap:wrap;
margin: 50px;
}


.wrapping-elements>div {
  flex: 0 50%;
  padding-bottom: 55px;
}

.the-element {
    display: inline-flex;
}

div .the-element p {
display: flex;
flex-wrap: nowrap;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
