.why-mapify {
    height:135vh;
    width:100vw;
}

// title
.mapify-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

// subtitle
.where-impact {
  text-align: center;
  color: #A4ADB5;
  font-family: 'Lato', sans-serif;
  padding-bottom: 100px;
}

// icons flexing
.why-icons {
display: flex;
justify-content: flex-end;
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;
padding-bottom: 40px;
background-color: #FBFBFB;
}

.3-people {
  padding-left: 20%;
}

.icons-title {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 25px;
  color: #FF3366;
}

.your-community {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 25px;
  color: #9EA9B2;
}

.padding-change {
  padding-right: 130px;
  padding-left: 0px;
}

.why-mapify-text {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 15px;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}
