.home-hero {
  height:150vh;
  width:100vw;
}

.connecting {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
  padding-top: 240px;
  text-shadow: 2px 2px #38312C;
}

.communities {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 2px #38312C;
}

.empower {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
  text-shadow: 1px 1px #38312C;
  padding-top: 20px;
}
