.our-impact {
    height:135vh;
    width:100vw;
}

.our-impact-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}

.impact-subheading {
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: #9EA9B2;
}


.flexing-impact {
  padding-top: 120px;
  display: flex;
  justify-content: center;
justify-content: space-around;
align-items: baseline;
}

.flexing-impact h1  {
  color: #f36;
} h2 {
  color: #9ea9b2
}


.impact-title {
padding-top: 90px;
display: flex;
justify-content: center;
justify-content: space-around;
font-size: 25px;
color: #FF3366;
}

.impact-text {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 25px;
  color: #9EA9B2;
}

.take-a-look {
  
  background-color: Transparent;
    background-repeat: no-repeat;
    height: 50px;
    width: 230px;
    border: 2px solid #1ed8b3;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #1ed8b3;
}

.look-button {
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

ul.sub-menu li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}
//
// .active-text, .projects-helped, .connections-text {
// font-size: 22px;
// }
//
// .connections-text {
// padding-right: 9px;
// }

.impact-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
