.home-hero {
  height:150vh;
  width:100vw;
}

// first heading

.connecting {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding-top: 17%;
  text-shadow: 2px 2px #38312C;
}

// second heading

.communities {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px #38312C;
}

// subheading

.empower {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #38312C;
  padding-top: 20px;
}

.icon-padding {
  padding-left: 100px;
  // padding-bottom: 50px;
}

.group-div {
  position: relative;
}

// Mapify white icon

.play-copy {
  height: 95px;
  width: 95px;
  position:absolute;
  left: 47%;
  right: 50%;
  top: 100px;
}

.mapify-container {
  position: relative;
}

.watch-mapify {
text-align: center;
padding-top: 200px;
padding-left: 25px;
font-size: 30px;
font-family: 'Lato', sans-serif;
color: #ffffff;
text-shadow: 1px 1px #38312C;
}

// phonox black circle icon and text

.phonox-info {
  display: inline-flex;
  padding-left: 5%;
}

.phonox-image {
  height: 115px;
  width: 115px;
}

.phonox-quote {
  padding-left: 20px;
  padding-top: 20px;
  color: #ffffff;
}

.phonox-brixton {
  padding-left: 20px;
}

.search-glass {
  height: 40px;
  width: 40px;
  left: 80px;
}

.search-icon {

}



// repsonsive mobile design changes

// changing the font size to 20px for mobile

@media screen and (max-width: 480px) {
    .home-hero, .connecting, .communities, .empower {
      font-size: 20px;
    }

    .empower { }

    .connecting {
       padding-bottom: 5px;
     }

// hiding the top nav bar when mobile is viewed

    .nav-bar, .menu, li {
      display: none;
    }

// gets rid of search glass icon

    .search-glass, #secondary-menu {
      display: none;
    }
// gets rid of the phonox image

    .phonox-info {
      display: none;
    }

    // drop down hamburger menu - still need to create drop down

    .hamburger-menu {
      height: 30px;
      position: absolute; right: 09%; top: 80%;
    }

     .hamburger-menu:hover {


     }

    }

// tablet styling
@media (min-width: 768px) and (max-width: 1024px) {
  #primary-menu, #primary-menu a, #secondary-menu, #secondary-menu a, ol, ul {
    font-size: 20px;
    padding-right: 30px;
  }

}
