#how-it-works-section2 {
  display: none;
}

.how-it-works{
  h1 {
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  .left.carousel-control {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right.carousel-control {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .how-to-icons {
    display: flex;
    justify-content: center;
  }
 
  .col-xs-12.col-sm-6.col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .carousel .carousel-showmanymoveone .slide .multi-item-carousel {
    display: flex;
    flex-direction: column;
  }
  button {
    color: rgb(50,219,185);
    background-color: white;
    border: 2px solid rgb(50,219,185);
  }
  }

@media only screen and (min-width: 600px) {
  #how-it-works-section {
    display: none;
  }

  #how-it-works-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hiwContainer{
      width: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }
    .hiwThumbnail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      h2 {
        color: black;
      }
      p {
        text-align: center;
      }
      button {
        position: relative;
        bottom: 10px;
        color: rgb(50,219,185);
        background-color: white;
        border: 2px solid rgb(50,219,185);
      }
    }
  }

  
  
}

